<%= form_with(model: recipe_modifier, local: true, class: "form-horizontal") do |form| %>
  <% if recipe_modifier.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(recipe_modifier.errors.count, "error") %> prohibited this recipe modifier from being saved:</h4>
      <ul>
        <% recipe_modifier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :recipe, class: "form-label" %>
    <%= form.text_area :recipe, rows: 5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :measurements, class: "form-label" %>
    <%= form.text_area :measurements, rows: 5, class: "form-control" %>
  </div>

  <div class="form-group custom-button-row">
    <%= form.submit "Save", class: "custom-outline-btn" %>
    <%= link_to "Cancel", recipe_modifiers_path, class: "custom-outline-btn" %>
  </div>

  <div class="form-group mt-4">
    <%= form.file_field :image, class: "form-control-file" %>
    <div class="form-check">
      <%= form.check_box :remove_image, class: "form-check-input" %>
      <%= form.label :remove_image, "Remove Image", class: "form-check-label" %>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= form.label :allergies, "Allergies", class: "form-label" %><br>
    <% RecipeModifier::ALLERGIES.each do |allergy| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag "recipe_modifier[allergies][]", allergy, recipe_modifier.allergies_list.include?(allergy), id: "recipe_modifier_allergies_#{allergy}", class: "form-check-input" %>
        <%= label_tag "recipe_modifier_allergies_#{allergy}", allergy.capitalize, class: "form-check-label" %>
      </div>
    <% end %>
  </div>
<% end %>

