<div class="col-md-6">
  <div class="recipe-modifier" id="<%= dom_id recipe_modifier %>">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-md-50 mx-auto">
      <div class="card-header">
        <p>
          <strong>Name:</strong>
          <%= recipe_modifier.name %>
        </p>
      </div>

      <div class="card-body">
        <h5 class="card-title"><strong>Description:</strong></h5>
        <p class="card-text"><%= recipe_modifier.description %></p>

        <h5 class="card-title"><strong>Recipe:</strong></h5>
        <p class="card-text"><%= recipe_modifier.recipe %>.</p>

        <h5 class="card-title"><strong>Measurements:</strong></h5>
        <p class="card-text"><%= recipe_modifier.measurements %>.</p>

        <%= link_to "Edit this recipe", edit_recipe_modifier_path(@recipe_modifier), class: "btn custom-outline-btn" %>

      </div>
    </div>
  </div>
</div>

















 





  





 
