<div id="<%= dom_id recipe_modifier %>">
  <p>
    <strong>Name:</strong>
    <%= recipe_modifier.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe_modifier.description %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= recipe_modifier.recipe %>
  </p>

  <p>
    <strong>Measurements:</strong>
    <%= recipe_modifier.measurements %>
  </p>

</div>
