<div class="container mt-2 mb-3">
  <h1>Recipe modifiers</h1>
  <div class="row"> 
    <% @recipe_modifiers.each do |recipe_modifier| %>
      <div class="col-md-6 mb-5">
        <div class="card-wrapper">
          <div class="shadow p-3 bg-body-tertiary rounded w-100">
            <div class="card-header">
              <strong>Name:</strong> <%= recipe_modifier.name %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Description:</strong> <%= recipe_modifier.description %></h5>
              <p class="card-text"><strong>Recipe:</strong> <%= recipe_modifier.recipe %></p>
              <p class="card-text"><strong>Measurements:</strong> <%= recipe_modifier.measurements %></p>
              <div class="card-footer">
               <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <p><%= link_to "Show this recipe modifier", recipe_modifier %></p>
      </div>
    <% end %>
  </div>
</div>










 
