<p style="color: green"><%= notice %></p>

<div class="mt-2 mb-3">
  <h1>Recipe modifiers</h1>
</div>
  
<div id="recipe_modifiers">
  <% @recipe_modifiers.each do |recipe_modifier| %>
    <%= render recipe_modifier %>
    <p>
      <%= link_to "Show this recipe modifier", recipe_modifier %>
    </p>
     <p>
     <%= link_to "Adjust this recipe", adjust_yield_recipe_modifier_path(recipe_modifier) %>

    </p>
  <% end %>
</div>

<%= link_to "New recipe modifier", new_recipe_modifier_path %>



 
