<p style="color: green"><%= notice %></p>


<%= render @recipe_modifier %>

  <%= link_to "Edit this recipe modifier", edit_recipe_modifier_path(@recipe_modifier) %> |
  <%= link_to "Back to recipe modifiers", recipe_modifiers_path %> 

  

  <%= button_to "Destroy this recipe modifier", @recipe_modifier, method: :delete %>

test test test 
