<p style="color: green"><%= notice %></p>


<%= render @recipe_modifier %>

<div class="col-md-6">
 <% if @recipe_modifier.image.url %>
  <%= image_tag @recipe_modifier.image.url, class: 'card-img-right' %>
 <% end %>
</div>


 
<div class="custom-button-row mt-4">
  <div class="col-auto">
    <%= link_to "Back to recipes", recipe_modifiers_path, class: "btn custom-outline-btn" %>  
  </div> |
  <div class="col-auto">
    <%= button_to "Delete", @recipe_modifier, method: :delete, data: { confirm: "Are you sure?" }, class: "btn custom-outline-btn" %>
  </div>
</div>


<hr>
